// Niri config

spawn-at-startup "swayidle"

spawn-at-startup "awww-daemon"

spawn-at-startup "hyprlock"

input {
    keyboard {
        xkb {
            layout "us"
        }
        repeat-delay 300
        repeat-rate 50
        numlock
    }
    touchpad {
        tap
        click-method "clickfinger"
        natural-scroll
        scroll-factor 0.5
    }
    focus-follows-mouse max-scroll-amount="0%"
}

cursor {
    xcursor-theme "phinger-cursors-dark"
    xcursor-size 24
};

window-rule {
    geometry-corner-radius 10

    clip-to-geometry true

    background-effect {
        blur true
        xray false
    }

    focus-ring {
      on
      width 2
      active-color "#d6b471"
      inactive-color "#202020"
      urgent-color "#6965a6"
    }
}

prefer-no-csd

blur {
    passes 2
    offset 3.0
    noise 0.02
    saturation 1.0
}

layout {
    background-color "transparent"
}

overview {
    workspace-shadow {
        off
    }
}

hotkey-overlay {
    skip-at-startup
}

debug {
    honor-xdg-activation-with-invalid-serial
}

output "DP-1" {
    mode "2560x1080@200.007"
    position x=1080 y=840
}

output "HDMI-A-1" {
    mode "1920x1080@74.973"
    transform "270"
    position x=0 y=0
}

output "eDP-1" {
    mode "1920x1080@60.030"
}

binds {

    Mod+F { fullscreen-window; }

    Mod+Ctrl+F { maximize-window-to-edges; }

    Mod+Shift+F { maximize-column; }

    Mod+Space { toggle-window-floating; }

    Mod+Q repeat=false { close-window; }

    Mod+BracketLeft { consume-or-expel-window-left; }

    Mod+BracketRight { consume-or-expel-window-right; }

    Mod+C { center-column; }

    Mod+Ctrl+C { center-visible-columns; }

    Mod+W { toggle-column-tabbed-display; }

    Mod+Ctrl+Shift+S { screenshot show-pointer=false; }

    Mod+Shift+S { screenshot-window write-to-disk=false; }

    Mod+Left { focus-column-left; }

    Mod+Down { focus-window-down; }

    Mod+Right { focus-column-right; }

    Mod+Up { focus-window-up; }

    Mod+1 { focus-workspace 1; }

    Mod+2 { focus-workspace 2; }

    Mod+3 { focus-workspace 3; }

    Mod+4 { focus-workspace 4; }

    Mod+5 { focus-workspace 5; }

    Mod+6 { focus-workspace 6; }

    Mod+7 { focus-workspace 7; }

    Mod+8 { focus-workspace 8; }

    Mod+9 { focus-workspace 9; }

    Mod+Ctrl+1 { move-column-to-workspace 1; }

    Mod+Ctrl+2 { move-column-to-workspace 2; }

    Mod+Ctrl+3 { move-column-to-workspace 3; }

    Mod+Ctrl+4 { move-column-to-workspace 4; }

    Mod+Ctrl+5 { move-column-to-workspace 5; }

    Mod+Ctrl+6 { move-column-to-workspace 6; }

    Mod+Ctrl+7 { move-column-to-workspace 7; }

    Mod+Ctrl+8 { move-column-to-workspace 8; }

    Mod+Ctrl+9 { move-column-to-workspace 9; }

    Mod+Tab { focus-workspace-previous; }

    Mod+WheelScrollDown { focus-column-right; }

    Mod+TouchpadScrollRight cooldown-ms=150 { focus-column-right; }

    Mod+WheelScrollUp { focus-column-left; }

    Mod+TouchpadScrollLeft cooldown-ms=150 { focus-column-left; }

    Mod+TouchpadScrollUp cooldown-ms=150 { focus-workspace-up; }

    Mod+TouchpadScrollDown cooldown-ms=150 { focus-workspace-down; }

    Mod+A { spawn "fuzzel"; }

    Mod+Return { spawn "wezterm"; }

    Mod+P {spawn "wezterm" "start" "--" "btop"; }

    XF86AudioRaiseVolume allow-when-locked=true { spawn "wpctl" "set-volume" "@DEFAULT_AUDIO_SINK@" "5%+"; }

    XF86AudioLowerVolume allow-when-locked=true { spawn "wpctl" "set-volume" "@DEFAULT_AUDIO_SINK@" "5%-"; }

    XF86AudioMute allow-when-locked=true { spawn "wpctl" "set-mute" "@DEFAULT_AUDIO_SINK@" "toggle"; }

    XF86MonBrightnessUp allow-when-locked=true { spawn "brightnessctl" "set" "+5%"; }

    XF86MonBrightnessDown allow-when-locked=true { spawn "brightnessctl" "set" "5%-"; }

    Mod+Shift+Escape { spawn "hyprlock"; }

    Mod+Ctrl+Escape { spawn "systemctl" "suspend"; }

    Mod+Shift+Ctrl+Escape { spawn "systemctl" "poweroff"; }
}
